.container-awards .container-two {
    max-width: 1110px;
    width: 100%;
    min-height: 410px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;

}
#awards {grid-area: 1/1/2/2;}
#site-day {grid-area: 1/3/2/4;}
#gen-ui {grid-area: 1/4/2/5;}
#appli {grid-area: 1/4/2/5;}
#year-top {grid-area: 1/5/2/6;}
#best-nav {grid-area: 2/3/3/4;}
#gen-temp {grid-area: 2/4/3/5;}
#appli-two {grid-area: 2/4/3/5;}
#year-bottom {grid-area: 2/5/3/6;}

.awds {
    max-width: 121px;
    width: 100%;
    min-height: 28px;
}
.col2 {
    max-width: 135px;
    width: 100%;
    min-height: 23px;
}
.col3 {
    max-width: 190px;
    width: 100%;
    min-height: 110px;
}
.year {
    max-width: 39px;
    width: 100%;
    min-height: 20px;
}
#awards2 {grid-area: 1/1/2/2;}
#site-day2 {grid-area: 1/3/2/4;}
#gen-ui2 {grid-area: 1/4/2/5;}
#appli2 {grid-area: 1/4/2/5;}
#year-top2 {grid-area: 1/5/2/6;}
#best-nav2 {grid-area: 2/3/3/4;}
#gen-temp2 {grid-area: 2/4/3/5;}
#appli-two2 {grid-area: 2/4/3/5;}
#year-bottom2 {grid-area: 2/5/3/6;}