.grid-position {
  
}
.grid-container {
    max-width: 1110px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 80px;
   
}
.grid-item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
    grid-gap: 27px;
}
.statue-colors {
    grid-area: 1/1/8/4;
}
.cactus-baloon-person {
    grid-area:  8/1/16/4;
}
.gloriasunrise {
    grid-area:  16/1/24/4;
}
.flowerfeild {
    grid-area: 24/1/33/4;
}
.manheadtornado {
    grid-area: 1/4/7/7;
   
}
.statueliberty {
    grid-area:7/4/14/7;
}
.girl-orange-dots {
    grid-area:  14/4/23/7;
  
}
.desertwalk {
    grid-area:  23/4/33/7;
}
.greyflowerface {
    grid-area:  1/7/11/10;
}
.manmeltedtin {
    grid-area: 11/7/18/10;
}
.swingingpiano {
    grid-area:  18/7/27/10;
}
.greenhills {
  grid-area:  27/7/33/10;
}
img {
    width: 100%;
    height: 100%;
    overflow: hidden;
} 