@import "fonts";
@import "header";
@import "_footer";
body {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding: 3rem 3rem; 
}
.header {
  padding-bottom: 3rem;
}
.section__fresh-title {
    max-width: 1120px;
    width: 100%;
    min-height: 130px;
    display: flex;
    justify-content: space-between;
}
.title__head {
    max-width: 495px;
    width: 100%;
    min-height: 130px;
    @include font-biggest;
    margin-bottom: 3rem;
}
.title__paragraph {
    max-width: 635px;
    width: 100%;
    min-height: 222px;
    @include font-smaller;
}
.title__content, .title__content2 {
    border-bottom: 1px solid lightgray;
    padding: 1rem;
}
.title__content {
    color: gray;
}
.title__content2 {
    @include font-small;
    font-weight: 700;
}
.img {
    max-width: 1110px;
    width: 100%;
    min-height: 100vh; 
}
.img-text {
    max-width: 1110px;
    width: 100%;
    min-height: 93px;
    @include font-smaller;
    padding: 3rem 3rem;
}
.images-container {
    max-width: 1110px;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
}
.images-bottom {
    flex-basis: 30%;
}