.container-hello {
    max-width: 1110px;
    width: 100%;
    display: flex;
    margin-top: 96px;
}

.hello {
   width: 100%;
}
.design-progress {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}