.container-hello {
    max-width: 1110px;
    width: 100%;
    display: flex;
    margin-top: 9rem;
}
.hello {
    max-width: 635px;
    width: 100%;
}
.design-progress {
    max-width: 212px;
    width: 100%;
    min-height: 34px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 7rem;
}